body {
    margin: 0 ;
    padding: 0 ;
    display: flex ;
    justify-content: center;
    align-items: center ;
    flex-flow: column nowrap;
    height: auto ;
    background-color: #f7f6f6;
}

* {
    box-sizing: border-box;
    
}

main{
    width: 100%;
    height: 100%;
}

h1{
    color: #0650c0;
    border-color: black;
    font-family: system-ui;
    margin-top: 20px !important;
    text-shadow: 7px 7px #dbecf1;
}

table thead{
    background-color: #0a4f70;
    color: white;
}

.tabled{
    text-align: center;
}

.rowchecked{
    background: rgb(248, 252, 5);
}

.trTable:hover {
    background-color: rgb(195, 204, 240);
   
}

.sortImg{
    width: 10px;
    height: auto;
    filter: invert(98%);
}
.btnSort{
    border-style: none;
    background: transparent;
    width: inherit;
    cursor: pointer;
}